packages:
 yum:
  libjpeg-turbo-devel: []

container_commands:
 01_install_mysql_connector:
  command: "easy_install mysql-connector-python"
 02_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
 03_migrate:
  command: "source /opt/python/run/venv/bin/activate && python manage.py migrate auth"
  leader_only: true
 04_migrate:
  command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
  leader_only: true
 05_migrate:
  command: "source /opt/python/run/venv/bin/activate && python manage.py syncdb --noinput"
  leader_only: true
 06_rebuild:
  command: "source /opt/python/run/venv/bin/activate && python manage.py syncdb --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "core.settings"
    PYTHONPATH: "/opt/python/current/app/core:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "core/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"