{% extends 'index.html' %}

{% block pagetitle %}Lost Items{% endblock %}

{% load staticfiles %}
{% load css_utils %}

{% block header %}
<link href="{% static 'public/css/search_for_item.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}

<a href="#search-box" class="skip-link" tabindex="2" accesskey="s">skip to search box</a>
<a href="#items-list" class="skip-link" tabindex="3">skip to items list</a>

  <!-- Begin Body -->
<div id="search-box" class="container search-panel">
  <img class="bg" src="{% static 'public/img/world.gif' %}"></img>
  <div class="row">
    <!-- intermediate search -->
    <div class="container search-cont col-md-4">
    
      <form class="form" role="form" method="get" action="." >
  
        {% csrf_token %}
        <div class="row center-block">
          <h1 style="margin-left:25%;">SEARCH</h1>
        </div>
        <div class="row">
          <label for="name">Item name:</label>
          <div class="form-group">
            {{form.q|addcss:"class:form-control,placeholder:Item title,tabindex:5"}}
          </div>
        </div>  

        <div class="row">
          <label for="name">Please select a category:</label>
          <div class="form-group">
            {{form.category|addcss:"class:form-control isearch,id:selectbasic,tabindex:6"}}
          </div>
        </div>

        <div class="row">
          <label for="name">Location:</label>
           <div class="form-group">
            {{form.location|addcss:"class:form-control isearch,placeholder:Location, id:locationInput,tabindex:7"}}
          </div>
        </div>
        
        <div class="row">
          <label for="name">Date Interval Start:</label>
          <div class="form-group">
            {{form.start_date|addcss:"class:form-control isearch,placeholder:Location, type:date,id:dateStartInput,tabindex:8"}}
          </div>
        </div>

        <div class="row">
          <label for="name">Date Interval End:</label>
          <div class="form-group">
            {{form.end_date|addcss:"class:form-control isearch,placeholder:Location, type:date,id:dateEndInput,tabindex:9"}}
          </div>
        </div>

        <div class="row">
          <input type="submit" value="Search/find" class="btn btn-default" style="border-radius:100px; margin-left:33%;" tabindex="10">
        </div>

      </form>
    </div>

    <div id="items-list" class="col-md-8">
      <form method="get" action=".">
        
        {% if query %}
        <h3>Results</h3>

        <div class="panel panel-c scrollable">
      
          {% for result in page.object_list %}
          <div class="panel panel-default">

            <div class="panel-heading">
              <h1 class="panel-title">{{ result.object.title }}</h1>
            </div>

            <div class="panel-body" style="padding: 18px;">
              <div class="row">
                {% if result.media %}
                <img src="{{MEDIA_URL}}{{result.media.0.data}}" class="image-resize img-responsive pull-right">
                {% else %}
                <img src="{% static 'img/no_media.jpg' %}" class="image-resize img-responsive pull-right">
                {% endif %}
                <ul class="list-groups">
                  <li class="list-groups-item">Item name: <b>{{ result.object.tags }}</b></li>
                  <li class="list-groups-item">Category: <b>{{ result.object.category }}</b></li>
                  <li class="list-groups-item">Date found: <b>{{ result.object.date_field }}</b></li>
                  <li class="list-groups-item">Location: <b>{{ result.object.location }}</b></li>
                  <li class="list-groups-item">Finder: <b>{{ result.object.found_by_user }}</b></li>
                </ul>
              </div>
              <div class="pull-right" style="margin-top: -60px; margin-right: 0px;">
                {% if item.status == 'FOUND' %}
                <a  class="btn btn-success btn-claim" onclick="popUpNotificationModal('{{result.object.pk}}', '{{result.object.found_by_user.prefered_way_of_contact}}', '{{result.object.found_by_user.phone_number}}')"><span class="glyphicon glyphicon-comment"></span>&nbsp;Claim item</a>
                {% else %}
                <a class="btn btn-success active btn-claim"><span class="glyphicon glyphicon-comment"></span>&nbsp;Item Claimed</a>
                {% endif %}
                <br>
                <button  onclick="popUpItemModal('{{results.object.description}}', '{{results.object.category}}', '{{results.object.found_by_user}}', '{{results.object.location}}',  '{{results.object.date_field}}', '{{results.object.time_field}}')"  type="button" class="btn btn-info btn-details"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;See more details</button>
              </div>
            </div>
          </div>

          {% empty %}
              <p>No results found.</p>
          {% endfor %}
    
        </div>

        {% if page.has_previous or page.has_next %}
          <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
          </div>
        {% endif %}
        {% else %}
          {% for item in recent_feeds %}
          <div class="panel panel-default">

            <div class="panel-heading">
              <h1 class="panel-title">{{ item.title }}</h1>
            </div>

            <div class="panel-body" style="padding: 18px;">
              <div class="row">
                {% if item.media %}
                <img src="{{MEDIA_URL}}{{item.media.0.data}}" class="image-resize img-responsive pull-right" alt="image of {{item.title}}">
                {% else %}
                <img src="{% static 'img/no_media.jpg' %}" class="image-resize img-responsive pull-right" alt="no image available for this item">
                {% endif %}
                <ul class="list-groups">
                  <li class="list-groups-item">Item name: <b>{{ item.tags }}</b></li>
                  <li class="list-groups-item">Category: <b>{{ item.category }}</b></li>
                  <li class="list-groups-item">Date found: <b>{{ item.date_field }}</b></li>
                  <li class="list-groups-item">Location: <b>{{ item.location }}</b></li>
                  <li class="list-groups-item">Finder: <b>{{ item.found_by_user }}</b></li>
                </ul>
              </div>
              <div class="pull-right" style="margin-top: -60px; margin-right: 0px;">
                {% if item.status == 'FOUND' %}
                <a   onclick="popUpNotificationModal('{{item.pk}}', '{{item.found_by_user.prefered_way_of_contact}}', '{{item.found_by_user.phone_number}}')"  class="btn btn-success btn-claim">
                  <span class="glyphicon glyphicon-comment"></span>&nbsp;Claim item
                </a>
                {% else %}
                <a class="btn btn-success disabled btn-claim"><span class="glyphicon glyphicon-comment"></span>&nbsp;Item Claimed</a>
                {% endif %}
                <br>
                <button onclick="popUpItemModal('{{item.media|safe}}', '{{item.description}}', '{{item.category}}', '{{item.found_by_user}}', '{{item.location}}', '{{item.date_field}}', '{{item.time_field}}')" type="button" class="btn btn-info btn-details"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;See more details</button>
              </div>
            </div>
          </div>

          {% empty %}
              <p>No results found.</p>
          {% endfor %}
        {% endif %}
      </form>
    </div>
  </div>
</div>

<!-- item details modal -->
<div class="modal fade" id="itemModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
          <div id="preview-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="details">
            <div class="row">
              <p id="description" class="gradient-effect text-center"></p>
            </div>
            <div class="row">
              <p id="category" class="gradient-effect text-center"></p>
            </div>
            <div class="row">
              <p id="finder" class="gradient-effect text-center"></p>
            </div>
            <div class="row">
              <p id="location" class="gradient-effect text-center"></p>
            </div>
            <div class="row">
              <p id="dateNTime" class="gradient-effect text-center"></p>
            </div>
          </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{% endblock %}