{% extends 'index.html' %}

{% block pagetitle %}Found an Item{% endblock %}

{% block body_block %}

<!-- Begin Body -->
<div class="container content">
	<div class="row">
    	<img src="/static/public/img/banner1.png" class="img-responsive center-block"></img>
    </div> 
</div>





{% if backend %}
  <div id="email-required-modal" >
    <form action="{% url "social:complete" backend=backend %}" method="post" role="form">{% csrf_token %}
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Email required</h4>
          </div>

          <div class="modal-body">
            <p>An email address is required.</p>
            <div class="form-group">
              <label class="control-label" for="email">Email address:</label>
              <input class="form-control" id="email" type="email" name="email" value="" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Continue</button>
          </div>
        </div>
      </div>
    </form>
  </div>


  {% endif %}
{% endblock %}
