<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'index.html' %}

{% load staticfiles %}

{% block pagetitle %}MyAccount{% endblock %}

{% block header %}

<link href="{% static 'public/css/myaccount.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'public/js/myaccount.js' %}"></script>

{% endblock %}

{% block body_block %}



<div class="container tab-container">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active" onclick="reset()"><a href="#tab1" data-toggle="tab">Personal Details</a></li>
                <li onclick="reset()"><a href="#tab2" data-toggle="tab">Account settings</a></li>
                <li onclick="reset()"><a href="#tab3" data-toggle="tab">Registered Items</a></li>
                <li onclick="reset()"><a href="#tab4" data-toggle="tab">Messages</a></li>
                <li onclick="reset()"><a href="#tab5" data-toggle="tab">Lost & Found Items</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">

                <!-- personal details tab -->
                <div class="tab-pane fade in active" id="tab1">
                    <div class="panel panel-default tab-heading">
                        <div class="panel-heading  hover">
                            <div class="row">
                                <div class="col-md-3">
                                    <label  class="panel-title">First Name</label>
                                </div>
                                <div class="col-md-6 text-muted">
                                    <label class="panel-title" id="s1">{{ user.first_name }}</label>
                                    <input class="hideIt" id="it1" style="display: none"></input>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label>
                                        <a id="e1" href="javascript:toggle('it1','s1','e1', 'first_name');">Edit</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-heading">
                        <div class="panel-heading  hover">
                            <div class="row">
                                <div class="col-md-3">
                                    <label  class="panel-title">Last Name</label>
                                </div>
                                <div class="col-md-6 text-muted"> 
                                    <label class="panel-title" id="s2">{{ user.last_name }}</label>
                                    <input id="it2" style="display: none"></input>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label>
                                        <a id="e2" href="javascript:toggle('it2','s2','e2', 'last_name');">Edit</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-heading">
                        <div class="panel-heading  hover">
                            <div class="row">
                                <div class="col-md-3">
                                    <label  class="panel-title">Mobile Number</label>
                                </div>
                                <div class="col-md-6 text-muted">
                                    <label class="panel-title" id="s3">0123456789</label>
                                    <input class="hideIt" id="it3" style="display: none"></input>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label>
                                        <a id="e3" href="javascript:toggle('it3','s3','e3', 'phone_number');">Edit</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-heading">
                        <div class="panel-heading  hover">
                            <div class="row">
                                <div class="col-md-3">
                                    <label  class="panel-title">Landline Number</label>
                                </div>
                                <div class="col-md-6 text-muted">
                                    <label class="panel-title" id="s4">004400487845</label>
                                    <input class="hideIt" id="it4" style="display: none"></input>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label>
                                        <a id="e4" href="javascript:toggle('it4','s4','e4');">Edit</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-heading">
                        <div class="panel-heading hover">
                            <div class="row">
                                <div class="col-md-3">
                                    <label  class="panel-title">Home address</label>
                                </div>
                                <div class="col-md-6 text-muted">
                                    <label class="panel-title" id="s5">Flat 1, 123 Northam Road Southampton UK</label>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label>
                                        <a id="e5" href="javascript:toggle('it5','s5','e5');">Edit</a>
                                    </label>
                                </div>
                            </div>
                            <div class="hideIt" id="it5" style="display: none">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Postocde</label>
                                            <input type="postcode" class="form-control" required="" name="postcode" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address Line 1</label>
                                            <input type="postcode" class="form-control" required="" name="postcode" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Addess Line 2</label>
                                            <input type="postcode" class="form-control" required="" name="postcode" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end personal details tab -->

                <!-- account details tab -->
                <div class="tab-pane fade in" id="tab2">
                    <div class="panel panel-default tab-heading">
                        <div class="panel-heading hover">
                            <div class="row">
                                <div class="col-md-3">
                                    <label  class="panel-title">Password</label>
                                </div>
                                <div class="col-md-6 text-muted">
                                    <label class="panel-title" id="s6">Not visible</label>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label>
                                        <a id="e6" href="javascript:toggle('it6','s6','e6');">Edit</a>
                                    </label>
                                </div>
                            </div>
                            <div class="hideIt" id="it6" style="display: none">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4 text-right ">
                                                <label>Current Password</label>
                                            </div>
                                            <div class="col-md-8">
                                                <span><input class="form-control fild-group" required=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4 text-right">
                                                <label>New Password</label>
                                            </div>
                                            <div class="col-md-8">
                                                <span><input class="form-control fild-group" required=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4  text-right">
                                                <label>Confirm New Password</label>
                                            </div>
                                            <div class="col-md-8">
                                                <span><input class="form-control fild-group" required="" ></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-heading">
                        <div class="panel-heading hover">
                            <div class="row">
                                <div class="col-md-3">
                                    <label  class="panel-title">Email address</label>
                                </div>
                                <div class="col-md-6 text-muted">
                                    <label class="panel-title" id="s7">{{ user.email }}</label>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label>
                                        <a id="e7" href="javascript:toggle('it7','s7','e7');">Edit</a>
                                    </label>
                                </div>
                            </div>
                            <div class="hideIt" id="it7" style="display: none">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4 text-right ">
                                                <label>Current Email Used</label>
                                            </div>
                                            <div class="col-md-8">
                                                <span><input class="form-control fild-group" required=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4 text-right">
                                                <label>New Email</label>
                                            </div>
                                            <div class="col-md-8">
                                                <span><input class="form-control fild-group" required=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4  text-right">
                                                <label>Confirm New Email</label>
                                            </div>
                                            <div class="col-md-8">
                                                <span><input class="form-control fild-group" required="" ></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end account settings -->

				 <div class="tab-pane fade in" id="tab3">
                    <div class="row controls">
                        <button type="button" onclick="location.href={% url 'public:item_pre_registration' %}" class="btn btn-primary "><span class="glyphicon glyphicon-plus"></span> Register New Item</button>
                    </div>
                    <ul class="registered-items">
                        {% for item in pre_reg_items %}
                        <li class="row registered-item">
                            <div class="col-md-3">
                                <img src="{{MEDIA_URL}}/{{item.media.data}}" class="img-responsive center-block"></img>
                            </div>
                            <div class="col-md-6 text-muted">
                                <label class="panel-title" id="s6">{{item.tags}}</label>
                                <hr>
                                <p>{{item.category}}</p>
                            </div>
                            <div class="col-md-3 text-right">
                                <label>
                                    <a id="e6" href="javascript:toggle('it6','s6','e6');">Update</a>
                                </label>
                            </div>
                        </li>
                        {% empty %}
                        <li class="row registered-item">
                            <div class="col-md-6 text-muted">
                                <label class="panel-title" id="s6">You don't have any items registered with our system at the moment. To register one use the 'egister Item' button above</label>
                                <hr>
                            </div>
                        </li>
                        {% endfor %}
                        <div class="hideIt" id="it6" style="display: none">
                        </div>
                    </ul>
                </div>
				
				<!-- Messages tab -->
				<div class="tab-pane fade in" id="tab4">
				<div class="chat">
				<header>
				    <div class="menu-icon"><span class="entypo-menu"></span></div>
				</header>
                {% for seq in message_sequences %}
                    <div id="message_box_{{seq.index}}" class="messages-box">
                        <div class="other-user">Coversation with {{seq.other_user}} about item: '{{seq.topic.topic.tags}}'</div>
                        {% for message in seq.messages %}
                        <div class="row no-margin">
                        {% if message.type == "SEND" %}
                            <div class="message-sent">{{message.message}}</div>
                        {% else %}
                            <div class="message-received">{{message.message}}</div>
                        {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-footer">
                        <div class="row no-margin">
                            <div class="col-xs-11">
                                <input id="message_input_{{seq.index}}" type="phone" class="form-control message_input" name="phone_number" value="">
                            </div>
                            <div class="col-xs-1">
                                <a onclick="reply_to_notification('{{seq.index}}', '{{seq.topic.pk}}')" class="btn btn-primary btn-md">
                                    <i class="btn-icon fa-paper-plane nav-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert-box warning"><span>Note: </span>You don't have any messages to show here.</div>
                {% endfor %}

                <!--
				<div class="new">
				<p><span class="entypo-feather"></span> New Message</p>
				</div>
				<section class="messages">
				<div class="message">
				<div class="bubble">
				<h3>Iphone 6s</h3>
				<h4>Finder1</h4>
				<p>I have found an Iphone 6s at the central station...</p>
				<p class="time"><span class="entypo-clock"></span><font color="grey"> 5 mins ago</p></font>
				</div>
				</div>
				<div class="message">
				<div class="bubble">
				<h3>HP Laptop</h3>
				<h4>Finder2</h4>
				<p>Does your laptop have a black cover?</p>
				<p class="time"><span class="entypo-clock"></span><font color="grey"> 3 mins ago</p></font>
				</div>
				</div>
				<div class="message">
				<div class="bubble">
				<h3>Nike Bag</h3>
				<h4>Claimer1</h4>
				<p>The Nike bag is black in colour.</p>
				<p class="time"><span class="entypo-clock"></span><font color="grey"> just now</p></font>
				</div>
				</div>
				</section>
				<footer><p>Load more</p></footer>
				</div>
            -->
            </div>
			</div>
        </div>
    </div>
</div>

{% endblock %}
