<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'base.html' %}

{% block pagetitle %}Password changed{% endblock %}

{% block main_block %}

<div style="margin-top:30px; width:40%; min-width:500px; margin-left:auto; margin-right:auto;">

	<div class="panel panel-default">
		<div class="panel-footer">
			<div class="row">
			  <div class="col-md-12"><p>Your password has been set. You may go ahead and log in now.</p></div>
			</div>
			<div class="row">
			  <div class="col-md-6"><a href="{% url 'public:index' %}" id="login" class="btn btn-block btn-success">Login</a></div>
			</div>
		</div>
	</div>
</div>

{% endblock %}