{% extends 'base.html' %}

{% block pagetitle %}Reset Password{% endblock %}

{% block main_block %}

	<div style="margin-top:30px; width:60%; min-width:500px; margin-left:auto; margin-right:auto;">

		<form action="" method="post">
			<div class="panel panel-default">
				<div class="panel-heading">Please specify your email address to receive instructions for resetting it.</div>
					<div style="display:none">
						<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
					</div>
					
					<div class="panel-body">
						{% if form.errors %}
	                    <div class="alert alert-danger" role="alert">
							{{ form.errors.email.as_text }}
	                    </div>
						{% endif %}
						<input id="forgot-email" type="text" class="form-control" name="email" value="" placeholder="Your Email address"/>                                        
						
					</div>
					<div class="panel-footer">
						<div class="row">
						  <div class="col-md-6"><a href="{% url 'public:index' %}" id="forgot_cancel" class="btn btn-block btn-default">Cancel</a></div>
						  <div class="col-md-6"><button type="submit" name="submit_forgot" class="btn btn-block btn-success">Request New Password</button></div>
						</div>
						
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
