<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'base.html' %}

{% block pagetitle %}Password Reset Successful{% endblock %}

{% block main_block %}

<div style="margin-top:30px; width:60%; min-width:500px; margin-left:auto; margin-right:auto;">

	<div class="panel panel-default">
		<div class="panel-heading">
			<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
			<p>You should be receiving it shortly.</p>
	</div>
</div>

{% endblock %}