<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'index.html' %}

{% load staticfiles %}

{% block pagetitle %}Site Map{% endblock %}

{% block body_block %}

<section class="hero"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-12"> 
				<div id="c496" class=""> 
					<h2>Site Map</h2> 
					<div class="ce-textpic ce-center ce-above"> 
						<div class="ce-bodytext"> </div> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 
</section>
<div class="col-xs-12">
	<div class="col-xs-offset-4 col-xs-4">
		<h4 class="text-center section-title">Section</h4>
		<ul class="map-list">
			<li class="text-center">
				<a>Home</a>
			</li>
			<li class="text-center">
				<a>Contact</a>
			</li>
			<li class="text-center">
				<a>Accessibility Note</a>
			</li>
			<li class="text-center">
				<a>Login</a>
			</li>
			<li class="text-center">
				<a>I've found sth</a>
			</li>
			<li class="text-center">
				<a>I've lost sth</a>
			</li>
		</ul>
	</div>
</div>

{% endblock %}