<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'index.html' %}

{% load staticfiles %}

{% block pagetitle %}IBF - Who are we?{% endblock %}

{% block body_block %}

<div class="container">
    <h1 class="text-center">I've Been Found - Who are we?</h1>
    <br/>
    <p style="text-align: justify;">We are creating tools and services that will enable seekers and finders to connect. We are driven individuals who want to help others do the right thing: ethically, environmentally,  for those around them and commercially. There are existing challenges to repatriate found items for both the general public, community groups and businesses. We are on track to help solve this inherent problem.</p>
    <br/>
    <p style="text-align: justify;">If you have any ideas to shape our offering or want to know more, you can find us at <a href="mailto:seeking@ivebeenfound.com">seeking@ivebeenfound.com</a></p>


</div>
  <br><br><br><br><br>






{% endblock %}