<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'index.html' %}

{% load staticfiles %}

{% block pagetitle %}IBF - Who are we?{% endblock %}

{% block body_block %}

<div class="container no-padding">
  <ol class="breadcrumb">
    <li><a href="{% url 'public:index' %}">Home</a></li>
    <li class="active">About Us</li>
  </ol>
</div>

<div class="container">
    <h1 class="text-center">I've Been Found - Who are we?</h1>
    <br/>
    <p style="text-align: justify;">I’ve Been Found (IBF) is an online lost and found service currently in phase 1 development. We understand how losing possessions is a universal human experience. We believe that people who find lost items will invest time and effort to see the item returned to its owner. We want to meet that need and encourage that community-based action through effective technology development.</p>
    <br/>


</div>
  <br><br><br><br><br>






{% endblock %}