<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'index.html' %}

{% load staticfiles %}

{% block header %}
<link href="{% static 'public/css/accessibility_support.css' %}" rel="stylesheet">
{% endblock %}

{% block pagetitle %}IBF - Accessibility Note{% endblock %}

{% block body_block %}

<div class="container no-padding">
  <ol class="breadcrumb">
    <li><a href="{% url 'public:index' %}">Home</a></li>
    <li class="active">Accessibility Support</li>
  </ol>
</div>

<div class="keys-content">
  <h1 class="text-center">Accessibility Note</h1>
  <br/>

  <div class="row">
    <div class="col-sm-6">
      <h2><i class="fa fa-chrome"></i><strong>Google Chrome</strong></h2>
      <h3>Windows &amp; Linux Users:</h3>
      <ul>
        <li>Home : [alt] + h</li>
        <li>I've lost something : [alt] + l</li>
        <li>I've found something : [alt] + f</li>
        <li>Search : [alt] + s</li>
        <li>Contact : [alt] + c</li>
        <li>Accessibility Support : [alt] + a</li>
        <li>Site Map : [alt] + m</li>
      </ul>
      <h3>Mac Users:</h3>
      <ul>
        <li>Home : [Control] [alt] + h</li>
        <li>I've lost something : [Control] [alt] + l</li>
        <li>I've found something : [Control] [alt] + f</li>
        <li>Search : [Control] [alt] + s</li>
        <li>Contact : [Control] [alt] + c</li>
        <li>Accessibility Support : [Control] [alt] + a</li>
        <li>Site Map : [Control] [alt] + m</li>
      </ul>
      <br/>

      <h2><i class="fa fa-opera"></i><strong>Opera</strong></h2>
      <h3>Version 15 or newer:</h3>
      <ul>
        <li>Home : [alt] + h</li>
        <li>I've lost something : [alt] + l</li>
        <li>I've found something : [alt] + f</li>
        <li>Search : [alt] + s</li>
        <li>Contact : [alt] + c</li>
        <li>Accessibility Support : [alt] + a</li>
        <li>Site Map : [alt] + m</li>
      </ul>
      <h3>Version 12.1 or older:</h3>
      <ul>
        <li>Home : [Shift] [Esc] + h</li>
        <li>I've lost something : [Shift] [Esc] + l</li>
        <li>I've found something : [Shift] [Esc] + f</li>
        <li>Search : [Shift] [Esc] + s</li>
        <li>Contact : [Shift] [Esc] + c</li>
        <li>Accessibility Support : [Shift] [Esc] + a</li>
        <li>Site Map : [Shift] [Esc] + m</li>
      </ul>
      <br/>

      <h2><i class="fa fa-edge"></i><strong>Internet Explorer</strong></h2>
      <h3>Windows Users:</h3>
      <ul>
        <li>Home : [alt] + h</li>
        <li>I've lost something : [alt] + l</li>
        <li>I've found something : [alt] + f</li>
        <li>Search : [alt] + s</li>
        <li>Contact : [alt] + c</li>
        <li>Accessibility Support : [alt] + a</li>
        <li>Site Map : [alt] + m</li>
      </ul>
      <br/>
    </div>

    <div class="col-sm-6">
       <h2><i class="fa fa-firefox"></i><strong>Firefox</strong></h2>
      <h3>Windows &amp; Linux Users:</h3>
      <ul>
        <li>Home : [alt] [Shift]  + h</li>
        <li>I've lost something : [alt] [Shift]  + l</li>
        <li>I've found something : [alt] [Shift]  + f</li>
        <li>Search : [alt] [Shift]  + s</li>
        <li>Contact : [alt] [Shift]  + c</li>
        <li>Accessibility Support : [alt] [Shift]  + a</li>
        <li>Site Map : [alt] [Shift]  + m</li>
      </ul>
      <h3>Linux Users:</h3>
      <ul>
        <li>Home : [Control] [alt] + h</li>
        <li>I've lost something : [Control] [alt] + l</li>
        <li>I've found something : [Control] [alt] + f</li>
        <li>Search : [Control] [alt] + s</li>
        <li>Contact : [Control] [alt] + c</li>
        <li>Accessibility Support : [Control] [alt] + a</li>
        <li>Site Map : [Control] [alt] + m</li>
      </ul>
      <br/>

      <h2><i class="fa fa-safari"></i><strong>Safari</strong></h2>
      <h3>Windows Users:</h3>
      <ul>
        <li>Home : [alt] + h</li>
        <li>I've lost something : [alt] + l</li>
        <li>I've found something : [alt] + f</li>
        <li>Search : [alt] + s</li>
        <li>Contact : [alt] + c</li>
        <li>Accessibility Support : [alt] + a</li>
        <li>Site Map : [alt] + m</li>
      </ul>
      <h3>Mac Users:</h3>
      <ul>
        <li>Home : [Control] [alt] + h</li>
        <li>I've lost something : [Control] [alt] + l</li>
        <li>I've found something : [Control] [alt] + f</li>
        <li>Search : [Control] [alt] + s</li>
        <li>Contact : [Control] [alt] + c</li>
        <li>Accessibility Support : [Control] [alt] + a</li>
        <li>Site Map : [Control] [alt] + m</li>
      </ul>
      <br/>
    </div>

  </div>
</div>

  <br><br><br><br><br>






{% endblock %}