<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'index.html' %}

{% load staticfiles %}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

{% block pagetitle %}IBF - Who are we?{% endblock %}

{% block body_block %}

<div class="container no-padding">
  <ol class="breadcrumb">
    <li><a href="{% url 'public:index' %}">Home</a></li>
    <li class="active">Contact US</li>
  </ol>
</div>

<div class="container">
    <br>
    <br>
	<div class="row">
		<div class="col-md-offset-2 col-lg-8">
            <p style="font-size:2rem">Contact us at:</p>
            <a> hello@ivebeenfound.com</a>
            <br>Carlton House, Epsom, Surrey KT18 7RL
        </div>

	</div>

	<div class="row">
		<div class="col-md-offset-2 col-lg-8">

            <div class="card hovercard">
                <div class="cardheader2">

                </div>
                <div class="avatar">
                    <img alt="" src="{% static 'public/img/rus.jpg' %}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Russ Oliver</a>
                    </div>
                    <div class="desc">russ.oliver@thebigconsulting.com</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>

	<div class="row">
		<div class="col-md-offset-2 col-lg-8">

            <div class="card hovercard">
                <div class="cardheader3">

                </div>
                <div class="avatar">
                    <img alt="" src="{% static 'public/img/sam.jpg' %}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Samuel Nash</a>
                    </div>
                    <div class="desc">Project Manager</div>
                    <div class="desc">sam.nash@thebigconsulting.com</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>

    <div class="row">
        <div class="col-md-offset-2 col-lg-8">

            <div class="card hovercard">
                <div class="cardheader3">

                </div>
                <div class="avatar">
                    <img alt="" src="{% static 'public/img/george.jpg' %}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">George Noble</a>
                    </div>
                    <div class="desc">george.noble@thebigconsulting.com</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>






{% endblock %}