<!-- University of Southampton 
     Group Design Project in collaboration with 'The Big Consulting' 
     Copyright 2015 -->

{% extends 'index.html' %}

{% load staticfiles %}

{% block pagetitle %}IBF - Our strategy{% endblock %}

{% block body_block %}

<div class="container">
    <h1 class="text-center">I've Been Found - Our strategy</h1>
    <br/>
    <p style="text-align: justify;">Paragraph about our strategy goes here.</p>
    <br/>
    


</div>
  <br><br><br><br><br>






{% endblock %}