<div class="panel panel-default tab-heading">
    <div class="panel-heading hover">
        <div class="row">
            <div class="col-md-3">
                <label  class="panel-title">Password</label>
            </div>
            <div class="col-md-6 text-muted">
                <label id="s5" class="panel-title">Not visible</label>
            </div>
            <div class="col-md-3 text-right">
                <label>
                    <a id="e5" href="javascript:change_settings('it5', 'itp1', 'itp2', 'itp3', 's5','e5', 'password');">Edit</a>
                </label>
            </div>
        </div>
        <div id="it5" style="display:none">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 text-right ">
                        <label>Current Password</label>
                    </div>
                    <div class="col-md-4">
                        <span><input id= "itp1" type="password" class="form-control fild-group" required=""></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 text-right">
                        <label>New Password</label>
                    </div>
                    <div class="col-md-4">
                        <span><input id= "itp2" type="password" class="form-control fild-group" required=""></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4  text-right">
                        <label>Confirm New Password</label>
                    </div>
                    <div class="col-md-4">
                        <span><input id= "itp3" type="password" class="form-control fild-group" required="" ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="panel panel-default tab-heading">
    <div class="panel-heading hover">
        <div class="row">
            <div class="col-md-3">
                <label  class="panel-title">Email address</label>
            </div>
            <div class="col-md-6 text-muted">
                <label id="s6" class="panel-title">{{ user.email }}</label>
            </div>
            <div class="col-md-3 text-right">
                <label>
                    <a id="e6" href="javascript:change_settings('it6', 'ite1', 'ite2', 'ite3', 's6','e6', 'email');">Edit</a>
                </label>
            </div>
        </div>
        <div id="it6" style="display:none">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 text-right ">
                        <label>Current Email Used</label>
                    </div>
                    <div class="col-md-4">
                        <span><input id="ite1" class="form-control fild-group" required=""></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 text-right">
                        <label>New Email</label>
                    </div>
                    <div class="col-md-4">
                        <span><input id="ite2" class="form-control fild-group" required=""></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4  text-right">
                        <label>Confirm New Email</label>
                    </div>
                    <div class="col-md-4">
                        <span><input id="ite3" class="form-control fild-group" required="" ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default tab-heading">
    <div class="panel-heading  hover">
        <div class="row">
            <div class="col-md-3">
                <label  class="panel-title">Prefered way of contact</label>
            </div>
            <div class="col-md-6 text-muted"> 
                <label class="panel-title" id="s7">{{ user.prefered_way_of_contact }}</label>
                <select id="it7" style="display: none">
                    <option selected disabled default >Choose...</option>
                    <option class="glyphicon glyphicon-envelope" value="EMAIL">Email</option>
                    <option class="glyphicon glyphicon-earphone" value="PHONE">Phone</option>
                    <option class="glyphicon glyphicon-random" value="IBF">IBF</option>
                </select>
            </div>
            <div class="col-md-3 text-right">
                <label>
                    <a id="e7" href="javascript:toggle('it7','s7','e7', 'prefered_way_of_contact');">Edit</a>
                </label>
            </div>
        </div>
    </div>
</div>