<div class="chat">
	<header>
	    <div class="menu-icon"><span class="entypo-menu"></span></div>
	</header>
    {% for seq in message_sequences %}
    <div id="message_box_{{seq.index}}" class="messages-box">
        <div class="other-user">Coversation with {{seq.other_user}} about item: '{{seq.topic.topic.tags}}'</div>
        {% for message in seq.messages %}
        <div class="row no-margin">
        {% if message.type == "SEND" %}
            <div class="message-sent">{{message.message}}</div>
        {% else %}
            <div class="message-received">
                {{message.message}}
                {% if message.notification_type == 'ACCEPT' %}
                    <a id="yes_button_{{message.pk}}" onclick="respond_to_repatriation(false, '{{message.pk}}', '{{seq.index}}')" class="btn btn-danger btn-md">
                        <i class="btn-icon fa-close nav-icon"></i>
                    </a>
                    <a id="no_button_{{message.pk}}" onclick="respond_to_repatriation(true, '{{message.pk}}', '{{seq.index}}')" class="btn btn-success btn-md">
                        <i class="btn-icon fa-check nav-icon"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="mb-footer">
        <div class="row no-margin">
            <div class="col-xs-11">
                <input id="message_input_{{seq.index}}" index="{{seq.index}}_{{seq.topic.pk}}" type="message" class="form-control message_input" name="phone_number" value="">
            </div>
            <div class="col-xs-1">
                <a onclick="reply_to_notification('{{seq.index}}', '{{seq.topic.pk}}')" class="btn btn-primary btn-md">
                    <i class="btn-icon fa-paper-plane nav-icon"></i>
                </a>
            </div>
        </div>
    </div>
{% empty %}
    <div class="alert-box warning"><span>Note: </span>You don't have any messages to show here.</div>
{% endfor %}
</div>

<script>
$(".message_input").keypress(function(event) {
    var col = $(this);
    if (event.which == 13) {
        event.preventDefault();
        reply_to_notification(col.attr("index").split('_')[0], col.attr("index").split('_')[1])
    }
});

</script>