<div class="panel panel-default tab-heading">
    <div class="panel-heading  hover">
        <div class="row">
            <div class="col-md-3">
                <label  class="panel-title">First Name</label>
            </div>
            <div class="col-md-6 text-muted">
                <label class="panel-title" id="s1">{{ user.first_name }}</label>
                <input id="it1" style="display: none"></input>
            </div>
            <div class="col-md-3 text-right">
                <label>
                    <a id="e1" href="javascript:toggle('it1','s1','e1', 'first_name');">Edit</a>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default tab-heading">
    <div class="panel-heading  hover">
        <div class="row">
            <div class="col-md-3">
                <label  class="panel-title">Last Name</label>
            </div>
            <div class="col-md-6 text-muted"> 
                <label class="panel-title" id="s2">{{ user.last_name }}</label>
                <input id="it2" style="display: none"></input>
            </div>
            <div class="col-md-3 text-right">
                <label>
                    <a id="e2" href="javascript:toggle('it2','s2','e2', 'last_name');">Edit</a>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default tab-heading">
    <div class="panel-heading  hover">
        <div class="row">
            <div class="col-md-3">
                <label  class="panel-title">Mobile Number</label>
            </div>
            <div class="col-md-6 text-muted">
                <label class="panel-title" id="s3">{{ user.phone_number }}</label>
                <input id="it3" style="display: none"></input>
            </div>
            <div class="col-md-3 text-right">
                <label>
                    <a id="e3" href="javascript:toggle('it3','s3','e3', 'phone_number');">Edit</a>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default tab-heading">
    <div class="panel-heading hover">
        <div class="row">
            <div class="col-md-3">
                <label  class="panel-title">Home address</label>
            </div>
            <div id="locationField" class="col-md-6 text-muted">
                <label id="s4" class="panel-title">{{ user.address }}</label>
                <input id="it4" class="form-control" placeholder="Enter your address" onFocus="geolocate()" type="text" style="display:none"></input>
            </div>
            <div class="col-md-3 text-right">
                <label>
                    <a id="e4" href="javascript:toggle('it4','s4','e4', 'address');">Edit</a>
                </label>
            </div>
        </div>
    </div>
</div>

<script>
var placeSearch, autocomplete;

function initAutocomplete() {
  
  autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('it4')),
      {types: ['geocode']});
}

function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXr6cPuKrMcZ7IJ7_K4zV1X-0AwF3VLcU&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>